.tweet-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-top: 1px solid rgb(255, 255, 255, 0.3);
}

.twitter-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.twitter-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:  2rem;
}

.twitter-actions-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%; 
}

.twitter-actions-svg{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.twitter-user-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}